<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-data">Introduction to Data</h3>
    <ul>
      <li>Intro to Data</li>
      <li>Jargon Busting</li>
      <li>Keyboard Shortcuts</li>
      <li>Plain Text Formats</li>
      <li>Naming Files</li>
      <li>Regular Expressions</li>
      <li><a href="https://librarycarpentry.github.io/lc-data-intro/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <h3 id="syllabus-openrefine">OpenRefine</h3>
      <ul>
        <li>Introduction to OpenRefine</li>
        <li>Importing Data</li>
        <li>Basic Functions</li>
        <li>Advanced Functions</li>
        <li><a href="https://librarycarpentry.github.io/lc-open-refine/reference">Reference...</a></li>
      </ul>
    </div>
  </div>
</div>
